    @import url(https://fonts.googleapis.com/css?family=Lato);
    @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #F7F7F7;
    }
    /* header */
    
    header {
        background-color: #427dbb;
        height: 60px;
        font-size: 0.9rem;
    }
    
    .myNavbar {
        padding-top: 0.5rem;
        display: flex;
        justify-content: space-between;
    }
    
    .head2 {
        display: flex;
        align-items: center;
    }
    /* nav a tag */
    
    .n-item {
        margin-left: 1.5rem;
    }
    
    .n-item a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    /* nav btn */
    
    .btn1 {
        box-shadow: inset 0px 1px 0px 0px #e89325;
        background-color: #fa8e36;
        border-radius: 0.3rem;
        border: 1px solid #e97414;
        cursor: pointer;
        color: #ffffff;
        padding: 0.6rem 1rem;
        text-decoration: none;
        text-shadow: 0px 1px 0px #855d29;
    }
    
    .btn1:hover {
        background-color: #e6702d;
        transition: 0.5s;
    }
    /* navbar end */
    
    .input {
        width: 300px;
        padding: .3rem 1rem;
        border: .5px solid black;
        margin-bottom: 10px;
        margin-top: 5px;
        background: white;
    }
    
    .save {
        min-width: 20px;
        background-color: #6159E6;
        color: white;
        border: 1px rgb(90, 83, 218);
        padding: 8px 35px;
        font-size: 1rem;
        border-radius: .3rem;
    }
    
    .save:hover {
        background-color: rgb(60, 52, 209);
        transition: .5s;
    }
    
    .delete {
        min-width: 20px;
        background-color: rgb(233, 25, 25);
        color: white;
        border: 1px rgb(199, 7, 7);
        padding: 8px 35px;
        font-size: 1rem;
        border-radius: .3rem;
    }
    
    .delete:hover {
        background-color: rgb(167, 17, 17);
        transition: .5s;
        color: rgb(167, 17, 17);
    }
    /* box */
    
    .card {
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        margin: 1.2rem;
    }
    
    .room_info {
        min-height: 50px;
        padding: 3rem;
    }
    
    table {
        margin-left: 2.5rem;
    }
    
    th {
        width: 200px;
    }
    
    .tab1 {
        width: 150px;
    }
    
    .bed {
        padding-left: 10px;
        width: 200px;
    }
    
    .price {
        padding-left: 10px;
        padding-right: 10px;
        width: 80px;
    }
    
    .e_btn {
        padding-left: 10px;
        width: 120px;
        text-align: center;
    }
    
    .d_btn {
        padding-left: 10px;
        width: 140px;
        text-align: center;
    }
    
    .he {
        font-family: 'Volkhov', serif;
    }
    /* date */
    
    .date_save {
        min-width: 20px;
        background-color: #6159E6;
        color: white;
        border: 1px rgb(90, 83, 218);
        padding: 8px 35px;
        font-size: 1rem;
        border-radius: .3rem;
    }
    
    .date_save:hover {
        background-color: rgb(60, 52, 209);
        transition: .5s;
    }
    
    .date_row {
        padding-left: 10px;
    }
    
    .date_btn {
        margin-left: 2rem;
    }
    
    .tab-2 {
        padding: 2rem;
    }
    
    .tab_head2 {
        font-size: 1rem;
        font-family: 'Volkhov', serif;
    }
    
    .date_delete {
        min-width: 20px;
        background-color: rgb(233, 25, 25);
        color: white;
        border: 1px rgb(199, 7, 7);
        padding: 8px 30px;
        font-size: 1rem;
        border-radius: .3rem;
    }
    
    .date_delete:hover {
        background-color: rgb(167, 17, 17);
        transition: .5s;
        color: rgb(167, 17, 17);
    }
    
    .tab2 table th {
        width: 200px;
    }